[submodule "Multiple View Geometry/MVGFinalAssignment"]
	path = Multiple View Geometry/MVGFinalAssignment
	url = git@github.com:antebi-itai/MVGFinalAssignment.git
[submodule "DL for CV/BrainTumorDetection"]
	path = DL for CV/BrainTumorDetection
	url = git@github.com:antebi-itai/BrainTumorDetection.git
[submodule "KernelNN"]
	path = KernelNN
	url = git@github.com:antebi-itai/KernelNN.git
[submodule "Intro to Computer Vision/HW2 - Multi-Scale Pyramids"]
	path = Intro to Computer Vision/HW2 - Multi-Scale Pyramids
	url = git@github.com:wis-intro-vision/HW2-2021-visionaries.git
[submodule "Intro to Computer Vision/HW4 - Image and Video Alignment"]
	path = Intro to Computer Vision/HW4 - Image and Video Alignment
	url = git@github.com:wis-intro-vision/assignment-4-image-and-video-alignment-visionaries-ex4.git
[submodule "Intro to Computer Vision/HW5 - Deep Image Prior"]
	path = Intro to Computer Vision/HW5 - Deep Image Prior
	url = git@github.com:wis-intro-vision/assignment-5-deep-image-prior-hw5-2021-visionaries.git
[submodule "Reinforcement-Learning-CS234"]
	path = Reinforcement-Learning-CS234
	url = https://github.com/antebi-itai/Reinforcement-Learning-CS234
[submodule "Normalizing-Flows"]
	path = Normalizing-Flows
	url = https://github.com/antebi-itai/Normalizing-Flows.git
